{% extends "base.html.twig" %}

<<<<<<< HEAD
{% block title %} Add category {% endblock %}
=======
{% block title %} Update category {% endblock %}
>>>>>>> 021438642c506fdb594f1ec3a3e036b19e9892fd

{% block body %}

<div class="container-fluid col-8 mt-3">
   <h3 class="text-center mt-5">Update The Category</h3>
      {{ form_start(form) }}
         <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
         </div>
         
         <div class="form-group text-center mt-3 mb-4">
            <button class="btn btn-primary" type="submit">Update Category Now</button>
         </div>
      {{ form_end(form) }}
</div>
<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}
>>>>>>> 021438642c506fdb594f1ec3a3e036b19e9892fd
